.flexGridCenter {
    display: flex;
    justify-content: center !important;
    flex-flow: row wrap;    
}

.searchForm {
    padding-bottom: 2rem;
}

.loadingWrapper{
    text-align: center;
}

.loadingSvg {
}